## Config

In [1]:
from nixtlats import TimeGPT
import pandas as pd 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np 
from datetime import timedelta

In [2]:
token = '0IEAIZ41DvUuDTmpjyYgPEdOwLsnoUbaW5z4uWZm0yi6yzTU1w2xiKQeuq0nyChGv1TLxG7scd3QqNSOxqUPFVqWizI0GMCpsMMmHmOjyrJRppyYyNeIRCBniD3J1BwsRGuSg3FPrK9hbihF5bMLTp3lpLmRK9QGGzKJwxhqFo3E31P9njLgUDbB5ViGzt45MvLeBExwVhHc5ZBV5aDjhZMd1JThvBp1iNKoMceIt84mes9yH5HxJxOI0t1YlvIi'

timegpt = TimeGPT(token = token)

timegpt.validate_token()

INFO:nixtlats.timegpt:Happy Forecasting! :), If you have questions or need support, please email ops@nixtla.io

True

## Test TimeGPT

In [2]:
df_train_final = pd.read_parquet('sales_train_eval_processed.parquet')
df_train_final.head()

         item_id    dept_id   cat_id store_id state_id  units_sold       date  wm_yr_wk   weekday  wday  month  year event_name_1 event_type_1 event_name_2 event_type_2  snap_CA  snap_TX  snap_WI  sell_price
0  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1       CA           0 2011-01-29     11101  Saturday     1      1  2011          NaN          NaN          NaN          NaN        0        0        0         NaN
1  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1       CA           0 2011-01-29     11101  Saturday     1      1  2011          NaN          NaN          NaN          NaN        0        0        0         NaN
2  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1       CA           0 2011-01-29     11101  Saturday     1      1  2011          NaN          NaN          NaN          NaN        0        0        0         NaN
3  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1       CA           0 2011-01-29     11101  Saturday     1      1  2011          NaN          NaN          NaN          NaN        0        0        0         NaN
4  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1       CA           0 2011-01-29     11101  Saturday     1      1  2011          NaN          NaN          NaN          NaN        0        0        0         NaN

In [5]:
print(df_train_final['sell_price'].isna().sum()) #12 299 413

12299413

In [5]:
filtered_df = df_train_final[
    (df_train_final['item_id'] == "HOBBIES_1_001") &
    (df_train_final['dept_id'] == "HOBBIES_1") &
    (df_train_final['cat_id'] == "HOBBIES") &
    (df_train_final['store_id'] == "CA_1")
]
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1941 entries, 0 to 59150600
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_id       1941 non-null   category
 1   dept_id       1941 non-null   category
 2   cat_id        1941 non-null   category
 3   store_id      1941 non-null   category
 4   state_id      1941 non-null   category
 5   units_sold    1941 non-null   int16
 6   date          1941 non-null   datetime64[ns]
 7   wm_yr_wk      1941 non-null   int16
 8   weekday       1941 non-null   category
 9   wday          1941 non-null   int8
 10  month         1941 non-null   int8
 11  year          1941 non-null   int16
 12  event_name_1  158 non-null    category
 13  event_type_1  158 non-null    category
 14  event_name_2  4 non-null      category
 15  event_type_2  4 non-null      category
 16  snap_CA       1941 non-null   int8
 17  snap_TX       1941 non-null   int8
 18  snap_WI       1941 non-null   int8
 19  sell_price    1045 non-null   float32
dtypes: category(10), datetime64[ns](1), float32(1), int16(3), int8(5)
memory usage: 171.1 KB

In [6]:
df_test1 = timegpt.forecast(df = filtered_df, h = 28, freq = 'D',
                            time_col = 'date', target_col = 'units_sold', 
                            model='timegpt-1-long-horizon')

INFO:nixtlats.timegpt:Validating inputs...
INFO:nixtlats.timegpt:Preprocessing dataframes...
INFO:nixtlats.timegpt:Calling Forecast Endpoint...

In [6]:
df_test1.head(28)

          date   TimeGPT
0   2016-05-23  0.872426
1   2016-05-24  0.887732
2   2016-05-25  0.900749
3   2016-05-26  0.898572
4   2016-05-27  0.874487
5   2016-05-28  0.954261
6   2016-05-29  0.911032
7   2016-05-30  0.884502
8   2016-05-31  0.894442
9   2016-06-01  0.914520
10  2016-06-02  0.911272
11  2016-06-03  0.906284
12  2016-06-04  0.977276
13  2016-06-05  0.934897
14  2016-06-06  0.917183
15  2016-06-07  0.913374
16  2016-06-08  0.925196
17  2016-06-09  0.907038
18  2016-06-10  0.921995
19  2016-06-11  0.975747
20  2016-06-12  0.925711
21  2016-06-13  0.894664
22  2016-06-14  0.913101
23  2016-06-15  0.920161
24  2016-06-16  0.915204
25  2016-06-17  0.901520
26  2016-06-18  0.993874
27  2016-06-19  0.950807

### Test evaluation for one specific example

In [7]:
df_test = pd.read_csv('sales_test_evaluation.csv')
df_test.head()

         item_id    dept_id   cat_id store_id state_id  d_1942  d_1943  d_1944  d_1945  d_1946  d_1947  d_1948  d_1949  d_1950  d_1951  d_1952  d_1953  d_1954  d_1955  d_1956  d_1957  d_1958  d_1959  d_1960  d_1961  d_1962  d_1963  d_1964  d_1965  d_1966  d_1967  d_1968  d_1969
0  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1       CA       2       0       1       0       0       1       4       3       0       0       1       1       0       2       0       0       0       3       2       1       2       0       0       1       0       1       3       1
1  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1       CA       0       2       0       1       0       1       0       1       0       0       0       1       1       1       1       0       0       0       1       0       0       1       0       0       2       1       1       0
2  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1       CA       0       0       0       0       0       1       0       0       0       0       0       0       1       0       0       1       1       0       1       3       2       1       0       2       1       0       1       1
3  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1       CA       0       0       1       0       6       3       3       2       1       1       4       1       5       3       0       5       0       7       3       3       4       2       1       6       3       1       4       3
4  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1       CA       2       0       1       1       2       4       0       2       2       2       2       0       0       2       1       0       2       1       0       1       2       1       0       0       0       0       0       0

In [8]:
filtered_test_df = df_test[
    (df_train_final['item_id'] == "HOBBIES_1_001") &
    (df_train_final['dept_id'] == "HOBBIES_1") &
    (df_train_final['cat_id'] == "HOBBIES") &
    (df_train_final['store_id'] == "CA_1")
]

<ipython-input-8-66c857300d1e>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_test_df = df_test[

In [9]:
start_date = pd.to_datetime('2016-05-23')

# Generate date columns for d_1 to d_1941
for i in range(1942, 1970):  # 1941 days + 1 because range end is exclusive
    day_col = f'd_{i}'
    date_for_day = start_date + pd.Timedelta(days=i-1)
    filtered_test_df[f'date_{i}'] = date_for_day

<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day
<ipython-input-9-49bf4e761970>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_test_df[f'date_{i}'] = date_for_day

In [10]:
start_date = pd.to_datetime('2011-01-29')

# Melt the DataFrame to long format directly, without adding separate date columns
test_df = pd.melt(filtered_test_df, 
                    id_vars=['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], 
                    value_vars=[f'd_{i}' for i in range(1942, 1970)], 
                    var_name='day', 
                    value_name='units_sold')

# Calculate the date directly from the 'day' column
# Extract the day index from the 'day' column (removing 'd_') and convert to int
test_df['date'] = test_df['day'].apply(lambda x: start_date + timedelta(days=int(x.split('_')[1])-1))

# Drop the 'day' column if it's no longer needed
test_df.drop(columns=['day'], inplace=True)

In [11]:
test_df.head()

         item_id    dept_id   cat_id store_id state_id  units_sold       date
0  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1       CA           2 2016-05-23
1  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1       CA           0 2016-05-24
2  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1       CA           1 2016-05-25
3  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1       CA           0 2016-05-26
4  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1       CA           0 2016-05-27

In [13]:
def compute_rmsse(Y_actual, Y_forecast, Y_train):
    """
    Compute the RMSSE for a single time series.

    Parameters:
    - Y_actual: Actual values for the forecast horizon (numpy array or list).
    - Y_forecast: Forecasted values for the forecast horizon (numpy array or list).
    - Y_train: Historical observations used for training (numpy array or list).

    Returns:
    - rmsse: The RMSSE score.
    """
    # Ensure inputs are numpy arrays for vectorized operations
    Y_actual = np.array(Y_actual)
    Y_forecast = np.array(Y_forecast)
    Y_train = np.array(Y_train)
    
    # Calculate the numerator: sum of squared forecast errors
    forecast_errors = Y_actual - Y_forecast
    squared_forecast_errors = forecast_errors ** 2
    numerator = np.sum(squared_forecast_errors)
    
    # Calculate the denominator: mean of squared differences in the training data
    # Consider only periods following the first non-zero demand
    Y_train_nonzero = Y_train[np.argmax(Y_train != 0):]  # Exclude leading zeros
    squared_diffs = np.diff(Y_train_nonzero) ** 2
    denominator = np.mean(squared_diffs)
    
    h = len(Y_actual)  # Forecast horizon
    n = len(Y_train_nonzero)  # Effective length of training sample
    
    # Compute RMSSE
    rmsse = np.sqrt((1/h) * (numerator / ((1/(n-1)) * denominator)))
    
    return rmsse

In [14]:
y_train = filtered_df['units_sold']

In [15]:
print(f'RMSSE of first product: {compute_rmsse(y_actual, y_predicted, y_train)}')

RMSSE of first product: 31.107563777531347

## Test with more products
1. API limit is 200 calls per minute 

2. Price difference depending on how much data is fed to the API 

3. Carefully check if there is any future exogenous variables we have access to 

4.